#team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;

}
#team div.circle{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.circle img{
    border: 3px solid grey;
    width: 250px;
    height: 250px;
    border-radius: 100px;
    display: inline-block;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    /* margin: 50px 50px 100px 70px; */
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
}

#team div.circle p.names1{
font-weight: bold;

}
#team div.circle p{
font-family: 'Noto Serif', serif;

}